[user]
	email = 
	name = Bijan Ebrahimi
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]
	st = status 
	ci = commit
	co = checkout
        graph = log --graph --oneline --decorate=short --branches='*'
	br = branch
	df = diff --color-words='[^[:space:]]'
	sh = show --color-words='[^[:space:]]'
	lg = log -p
	ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
        pend = cherry -v origin/master
#	prefab = cherry -v origin/fabrication
[format]
	pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'

[cola]
	spellcheck = false
